.parallax {
    /* The image used */
    background-image: url("../img/Fearless-1.jpg");
/*     background-image: url("../img/portfolio/thumbnails/pangea-part.jpg");*/

    /* Set a specific height */
    min-height: 400px;

    /* Create the parallax scrolling effect */
    background-attachment:scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*
section.module.parallax {
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
  max-width:100%;

}*/
