
.first_box {
    background-color: #424242;
    padding-bottom: 20%;
}

h1 {
    margin-top: 30%;
    text-align: center;
}

.my_header {
    background-color: #F2F2F2;
}

a {
    text-decoration: none;
    color: #333333;

}
/* PARALLAX */
/*
.my_header {
    height: 95px;
}

.divider {
    height:50px;
}

section {
    height:500px;
    padding-top:50px;
    padding-bottom:50px;
    overflow:auto;
}

.affix-top,.affix-bottom {
    width:100%;
    position:fixed;
    display:block;
}
  
.affix {
    display:none;
}



.bg-1 {
	background: url('/assets/example/bg_blueplane.jpg') no-repeat center center fixed;
    color:#fff;
    background-size:cover;
}
  
.bg-2 {
	background: url('/assets/example/bg_suburb.jpg') no-repeat top center fixed;
    color:#fff;
    background-size:cover;
}

.bg-3 {
	background: url('/assets/example/bg_blueplane.jpg') no-repeat bottom center fixed;
    color:#fff;
    background-size:cover;
}

#footer {
    height: 60px;
    background-color:#585858;
    margin-top:50px;
    padding-top:20px;
    padding-bottom:20px;
}

#footer a {
  color:#efefef;
}

*/
