body {
    margin:0;
    background-color: black;
}

.my_header {
    background-color:black;
}

/*
.big_box {
    background-image: url(../img/wood-wall-1.jpg);
}
*/

.img_box {
    background-image: url(../img/wood-wall-1.jpg);
    min-height:500px;
    background-size: cover;
    background-repeat: no-repeat;
    
}

img {
    width: 100%;
    min-height: 600px;
}

h2 {
    font: normal 28px 'Rochester', cursive;
    text-align: center;
    padding: 5px;
    background-color: #3a3a3b;
    box-shadow: 0 1px 2px #888;
    border: 1px solid #333;
    position: absolute;
    top: 0;
    left: 50%;
    width: 160px;
    margin-left: -80px;
    color: #fff;
}

 h1 {
    font: normal 56px 'Bree Serif', sans-serif;
    color: #DBA901;
    padding: 50px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
}
   

a {
    font-family: 'Montserrat', sans-serif;
/*    font: normal 6px 'Bree Serif', sans-serif;*/
    color: #DBA901;
    float: right;
    font-size: 25px;
    padding:5%;
    text-decoration: none;
   
}

a:hover {
    text-shadow: 
}
 

h6 {
    padding: 3%;
    color:#DBA901;
     font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    letter-spacing: 2px;
}

.nav-stacked a {
    border: 5px white solid;
    border:hidden;
    width: 278px;
    padding:15%;
    text-align: center;
     font-family: 'Montserrat', sans-serif;
/*    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;*/
    font-size: 16px;
    color: white;
    
}

.web{
width: 100%;
    height: 130px;
    margin: 10px;
    float: left;
    border: 10px solid #DBA901;
    overflow: hidden;
    position: relative;
    text-align: center;
    -webkit-box-shadow: 1px 1px 2px #DBA901;
    -moz-box-shadow: 1px 1px 2px #DBA901;
    box-shadow: 1px 1px 2px #DBA901;
    cursor: default;
    background: #DBA901;
    animation-name: example;
    animation-duration: 4s;
    animation-delay: 1s;
}

.art {
    width: 100%;
    height: 130px;
    margin: 10px;
    float: left;
    border: 10px solid #E6E6E6;
    overflow: hidden;
    position: relative;
    text-align: center;
    -webkit-box-shadow: 1px 1px 2px  #610B38;
    -moz-box-shadow: 1px 1px 2px  #610B38;
    box-shadow: 1px 1px 2px  #610B38;
    cursor: default;
    background: #E6E6E6;
    animation-name: example;
    animation-duration: 4s;
    animation-delay: 1s;
    background-image: url(../img/art_page_2.png);
    background-size: cover;
    background-repeat: no-repeat;
    
    
}

.estate {
    width: 100%;
    height: 130px;
    margin: 10px;
    float: left;
    border: 10px solid #610B38;
    overflow: hidden;
    position: relative;
    text-align: center;
    -webkit-box-shadow: 1px 1px 2px  #610B38;
    -moz-box-shadow: 1px 1px 2px  #610B38;
    box-shadow: 1px 1px 2px  #610B38;
    cursor: default;
    background: #610B38;
        
    animation-name: example;
    animation-duration: 4s;
    animation-delay: 1s;
    
}

@keyframes example {
    0%   {background-color:#DBA901; left:0px;}
    50%  {background-color:#A4A4A4; left:200px;}
    100% {background-color: #DBA901; left:0px;}
}




