body {
    font-family: 'Open Sans', sans-serif;
    width: 90%;
    margin-left: 5%;
    padding-bottom: 20px;
}
nav {
    padding: 2% 1%;
    width: 98%; 
}

h1 {
    font-size: 25px; 
    float:left;
}

nav li {
    display: inline-block;
    
}

nav ul {
  float: right;
    
}

a {
    text-decoration: none;
    color: #848484;
   margin-left: 9px;
    font-size: .75em;
    
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

main {
    background-image: url(../img/wine-bg.jpg);
    background: cover;
    text-align: center;
    color: white;
}

main > div {
    background-color: rgba(0,0,0, .8);
    padding: 100px 0;   
}

main p {
    font-size: 10px;
    padding-top: 8%;
}
.two_boxes {
    width: 100%;
    text-align:
}

.box1{
    width: 48%;
    float: left;
    text-align: center;
    padding-top: 10%;
    margin-left: 1%;
    margin-top: 6%;
    
}

.box2{
    width: 50%;
    float: left;
}

.two_boxes div img {
    width: 70%;
    margin-left: 15%;
}

.box1 > p { 
color: grey;
font-size: 10px;
}

h3 {
    font-style: italic;
    font-family:serif;
    font-weight:bolder;
    font-size: 25px;
    
}

.box3 {
    margin-top: 52.5%;
    background-image:url(../img/wine13.jpg);
    text-align: center;
    color: white;
}

.box3 > div {
    background-color: rgba(0,0,0, .8);
    background: cover;
    padding: 100px 0;
    padding-bottom: 4%;
    padding-top: 4%;
}

h4 {
    font-style: italic;
    font-family: serif;
    font-size: 25px;
}

.box3 p {
    font-size: 11px;
    padding: 2%
}

/* last section*/

.lastbox {
    width:100%;
    text-align: center;
}

.lastbox > div {
    width:30%;
    display: inline-block;
    text-align: center;
    
}

.lastbox img {
    width:35%;
}

.lastbox h5 {
    font-family: cursive;
    font-weight: bolder;
    margin:-1%;
}

.lastbox p {
    font-family: sans-serif;
    font-size: 10px;
    color:grey;
    width:70%;
    margin-left: 14%;   
}

.lastbox a {
    background-color: #4B8A08;
    color: white;
    font-size: 10px;
    font-family: sans-serif;
    width:30%;
    padding:2%;
    margin-left: -1%;
}

.box3 h4 {
    font-size: 23px;
}
