.top_bar {
   height: inherit;
    background-color: black;  
    
}


.header_img {
    width: 20%;
    height: auto;
}

/*NAV SECTION */

my_nav {
    color:darkmagenta;
}

img {
    width:100%;
}

.second_box_text {
    font-family: sans-serif;
    font-weight: 200;
    line-height: 3;
    padding: 2% 0;
   
}

#carousel-example-generic {
    max-height: 400px;
    overflow: hidden;
}


/*.carousel_pic {
   width:100%;
    overflow: hidden;
}
*/

/*THIRD BOX */
.third_box {
    margin-top:5%;
    border-style: 1px outset black;
}

.four_pics {
    border-style: outset;
}

h6 {
    color:black;
    text-align: center;
    font-family: sans-serif;
    font-weight: 800;
    
}

.custom_order {
    font-family: sans-serif;
    padding: 3% 0;
    text-align:left;
}

p {
    text-align: center;
    margin-top: 5%;
    font-family: sans-serif;
    font-weight: 500;
    font-weight: 200;
    height: 150px;

    
}
.sm_img {
    height: 200px;
    width: 90%;
}

/* FOOTER */
.footer{
    margin-top: 5%;
   background-color:darkgray;
    color:white;
    font-size: 20px;
    text-align: center;
}


.big_pic {
   width: 100%;
    min-height: 300px;
    
}



.footer_img {
    width: 200px;
    max-height: 100px;
}

