.top_bar {
   height: inherit;
    background-color: black;  
    
}


.header_img {
    width: 20%;
    height: auto;
}

/*NAV SECTION */

my_nav {
    color:darkmagenta;
}

img {
    width:100%;
}

.second_box_text {
    font-family: sans-serif;
    line-height: 2;
}

#carousel-example-generic {
    height: 300px;
    overflow: hidden;
}


/*THIRD BOX */
.third_box {
    margin-top:5%;
}

.four_pics {
    border-style: outset;
}

h6 {
    color:black;
    text-align: center;
    font-family: sans-serif;
    font-weight: 800;
    
}

.custom_order {
    font-family: sans-serif;
    padding: 5%;
}

.sm_img {
    height: 200px;
    width: 170px;
}

/* FOOTER */
.footer{
   background-color:darkgray;
    color:white;
    font-size: 20px;
    text-align: center;
}


.big_pic {
   width: 100%;
    min-height: 200px;
    
}




p {
    text-align: center;
    margin-top: 5%;
    font-family: sans-serif;
    font-weight: 500;
    height: 150px;

    
}

.footer_img {
    height: inherit;
    width: 50%;
   
}

