
body {
    width:100%;
    
}

h1 {
    font-family: sans-serif;
    padding-left: 11%;
}

header {
    padding-left: 5%;
}

nav {
    background-color: black;
    color: #fff;
    font-family: sans-serif;
    font-size: 10px;
    padding:15px;
    width:90%;
    margin-bottom: 5px;
    padding-left: 5%;
    
}

.div1 {
    background-color: #55a747;
    color: #fff;
    float:left;
    padding:20px;
    display:inline-block;
    width:40%;
}

.div2 {
    float:left;
    background-color: black;
    color:#fff; 
    padding:20px;
    display:inline-block;
    width:40%;
}


a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    padding:2%;
}

p {
    font-family: sans-serif;
    font-size: 10px;
}

h3 {
    font-family: sans-serif;
    font-size: 14px;
}

main {
    padding-left: 11%;
}

.div3 {
    
    
    font-weight:bold;
    color: #252b3b;
    border: 2px solid #fff;
    padding: 4%;
    font-size: 10px;
    color:white;
    margin-left: 62%;
    font-family: sans-serif;
}

/* text align kerlo. or float */