@import url('http://fonts.googleapis.com/css?family=Open+Sans:200,300');

html,body {
	height:100%;
  	font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
    margin-top:53px;
}

.bg {
  background: url(../img/wood-wall-1.jpg);
  position: fixed;
  width: 100%;
  height: 300%;
  bottom: 0;
  left: 0;
  z-index: -1;
}


section {
    width:94%;
  	margin:0 auto;
  	height:100%;
	color:#fff;
}

a:link, a:visited {
	color:#eee;
}

.panel {
	color:#777;
}

.navbar-nav>.active>a, .navbar-nav>.active>a:hover, .navbar-nav>.active>a:focus {
	background-color: transparent;
}
