body {
    width: 100%;
}
    
    
    main {
        background-image: url(../img/sub_header_home.jpg);
        background-size: cover;
}

header {
    color:white;
    padding-top: 15%;
    padding-bottom: 10%;
    text-align: center;
}


h1 {
    font-size: 35px;
    padding-bottom: 3%;
    letter-spacing: 2px;
}

p {
    font-size: 11px;
    font-family: sans-serif;
}

/* second part with icons*/

.second_box {
    width:100%;
    float:left;
}

.icon {
    width:20%;
    float:left;
    padding: 2%;
    text-align: center;
    padding-bottom: 3%;
}

.icon p {
    font-size: 10px;
    padding-top: 3%;
}

h4 {
    font-size: 13px;
    padding-top: 4%;
    font-weight:600;
}

/* media query part*/

/* TABLET */

 @media only screen and (min-width: 768px) and (max-width: 991px) { 
     
     .icon {
         width:45%;
 
    }
}

@media only screen and  (max-width: 767px) {
    
    .icon {
        width:90%;
    }
    
    .icon p {
        font-size: 13px;
    }
}
