div {
    width:80%;
    background-color:rgb(35,52,97);
    
}

h1 {
    text-decoration:bold, underline;
}

p{
    line-height: 14.5px;
}

a{
    text-decoration: none;
    font-weight: bold;
}

img {
    width:50%;
}

