<!DOCTYPE html>
<html>
    
<head>
    
<title> Template</title>
    <link rel="stylesheet" href="css/css-reset.css" type="text/css">
    
    <link rel="stylesheet" href="css/style.css" type="text/css">
    </head>
    
    
    
    <body>
    
    </body>
    




</html>

<!-- CLEARFIX -->

    .clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

<!--CSS media query within a stylesheet -->

@media (max-width: 600px) {
  .column {
    color: blue;
  }
}

<!--css-reset.css-->
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


<!--HOVER EFFECT -->

a {
    text-align: center;
    color: black;
    font-family: sans-serif;
    font-weight: 200;
    padding:35%
}

a:hover {
    font-size:25px;
    text-decoration: none; 
}

.example {
    background-color: lightcyan;
    padding: 10px;
    text-align: center;
    display: none;
}

a:hover + .example {
    display: block;
}


---------NAV SKILLS_________

<nav class="clearfix">
      <h1> BRUSH </h1>
      <ul>
            <li> <a href="http://www.umbreenahmad.com"> HOME</a></li>
            <li> <a href="http://www.umbreenahmad.com"> PROGRAMS</a></li>
            <li> <a href="http://www.umbreenahmad.com"> FREE CLASSES</a></li>
            <li> <a href="http://www.umbreenahmad.com"> EVENTS</a></li>
            <li> <a href="http://www.umbreenahmad.com"> FAQ</a></li>

        </ul>
    </nav>


nav li {
    display: inline-block;
    
}

nav ul {
  float: right;
    
}

a {
    text-decoration: none;
    color: black;
   margin-left: 9px;
    font-size: .75em;
    font-family:sans-serif;  
    
}

a:hover {
    color: #bf2635;

_____________________________