body {
    background-image: url(../img/home_img_agency.png);
    opacity: rgba (0,0,0, .5);
   background-repeat: no-repeat;
    background-size: contain;
    
   
}

navbar-brand page-scroll {
    font-size: 50px;
}